{% extends 'template.html.twig' %}

{% block title %}
    Formulaire
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Formulaire d'Etudiant</h1>
        {{ form(form) }}
    </div>

{% endblock %}